body{
    background-color:gray;
}
h1{
    color: White;
}
h2{
    color: gold;
}

#navi{
    background-color: azure;
    display: block;
}
#navi ul{
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}



#navi ul li {
    list-style: none;
    background-color: red;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    border-right: 1px solid #09023b;
    border-left: 1px solid #22148c;
  }
  
  #navi ul li a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #89C2FB;
    background-color: #12085e;
    width: 100%;
    display: block;
    padding: 10px 0;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
  }
  
  #navi ul li.active a,

  #navi ul a:hover {
    background-color: #e95555;
    color: #fdf9f9;
  }
 
  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
   }
   
   .image {
    width: 70%;
    padding: 50px;
   }
   
   .text {
     font-size:25px;
   }
   .text p{
    font-size:50px;
    color: rgb(3, 3, 3); 
   }
.foot{
    text-align: center;
    padding: 3px;
    background-color: gainsboro;
    color: black;
}
  